<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Admin.master.cs" Inherits="IMS_System.Admin.Admin" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
   
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"/>
          
        </div>
    </form>
</body>
</html>
